main {
  background-color: rgba(242, 242, 242, 0.8);
  border-radius: 30px 0 0 30px;
  width: 60vw;
  height: 90%;
  margin: 0;
  display: grid;
  grid-template: 1fr 3fr 2fr / 3fr 1fr;
  overflow: auto;
}

h2 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 2.4rem;
  font-size: calc(0.2rem + 3vw);
  font-weight: 200;
  color: #333;
}

.location-input {
  grid-area: 1 / 2 / 2 / 3;
  padding: 1.4rem;
  margin-left: auto;
  display: flex;
  align-self: center;
  gap: 0.6rem;
}

.input-container>input {
  border-radius: 12px;
  border: 0;
  padding: 0.4rem;
  font-family: Roboto;
  width: calc(3rem + 6vw);
  height: calc(0.2rem + 1.2vw);
  font-size: calc(0.4rem + 0.6vw);
  font-weight: 300;
}

.input-container {
  position: relative;
}

.dropdown-menu {
  background-color: white;
  border-radius: 14px;
  padding: 0.3rem 0.4rem;
  height: auto;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: absolute;
  width: calc(2rem + 8vw);
  top: 120%;
  left: 20%;
  margin-left: calc(calc(3rem + 6vw) / -2);
  /* gets the width of the dropdown menu and divides it by half, then returns negative number */
}

.hide {
  transform: scaleY(0);
}

.dropdown-menu>p {
  font-size: calc(0.3rem + 0.5vw);
  border-radius: 12px;
  padding: 0.2rem;
}

.dropdown-menu>p:hover {
  cursor: pointer;
  background-color: #EEE;
  padding: 0.2rem;
}

.location-input>button {
  border-radius: 50%;
  border: 0;
  background-color: #FFF;
  width: calc(1rem + 1.2vw);
  height: calc(1rem + 1.2vw);
  font-size: calc(1rem + 0.8vw);
}

.location-input>button:hover {
  background-color: #EEE;
  cursor: pointer;
}

.location-input>button:active {
  transform: translateY(2px);
}

.selected-day-info {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 200;
  gap: 1rem;
}

#main-temperature {
  font-size: calc(5rem + 2vw);
  margin-bottom: -1rem;
}

#main-weather-code {
  display: flex;
  gap: 1.2rem;
}

#main-weather-code>* {
  font-size: calc(1.2rem + 1.6vw);
}

.weather-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.weather-labels>* {
  display: flex;
  gap: 0.8rem;
  background-color: #FFF;
  border-radius: 12px;
  height: calc(1rem + 1.8vw);
  width: calc(8rem + 2vw);
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
}

.weather-labels>div>p {
  font-size: calc(0.8rem + 0.6vw);
}

.weather-labels>div>div>p {
  font-size: calc(0.7rem + 0.2vw);
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.days-container {
  grid-area: 3 / 1 / 4 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 1rem;
}

.day-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: #FFF;
  border-radius: 12px;
  height: calc(5rem + 1vw);
  width: calc(2.8rem + 1vw);
  padding: 0.6rem;
  font-weight: 200;
  border: 1px solid transparent;
}

.day-card>p {
  font-size: calc(0.8rem + 0.3vw);
}

.day-card:hover {
  cursor: pointer;
  border: 1px solid #999;
}

.day-card.selected {
  border: 1px solid #999;
}

.day-card>p:first-of-type {
  font-size: calc(0.8rem + 0.6vw)
}

.day-card:active {
  transform: translateY(2px);
}

@media (max-width: 900px) {

  aside {
    display: none;
    visibility: hidden;
  }

  main {
    border-radius: 30px;
    width: 90vw;
    align-self: center;
    position: absolute;
  }

  main>* {
    margin: 0;
    padding: 1.2rem;
  }

  h2 {
    font-size: calc(0.6rem + 3vw);
  }

  .weather-labels {
    gap: 0.5rem;
    flex-direction: column;
  }

  .days-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem 0;
  }
}